body {
  background: rgb(63,203,251);
  background: radial-gradient(circle, rgba(63,203,251,1) 0%, rgba(187,133,240,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
